.hs-form__actions__next,
.hs-form__actions__previous,
.hs-form__actions__submit {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 12px;
    position: relative;
    text-align: center;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding: 12px 24px
}

.hs-form__actions__previous {
    margin-right: 10px;
    color: #ff7a59;
    background-color: #fff
}

.hs-form__field__input {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 9px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #33475b;
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px
}

.hs-form__field__input[type=checkbox],
.hs-form__field__input[type=radio] {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 0;
    line-height: normal;
    border: none;
    vertical-align: middle
}

.hs-form__field__input[type=checkbox] span,
.hs-form__field__input[type=radio] span {
    margin: 5px
}

.hs-form__field__input[type=file] {
    padding: initial;
    border: initial;
    line-height: initial;
    box-shadow: none;
    background: none
}

select.is-placeholder {
    color: #707070
}

select.is-placeholder:focus {
    color: #33475b
}

.hs-form__field__input:-moz-placeholder {
    color: #707070
}

.hs-form__field__input::-webkit-input-placeholder {
    color: #707070
}

[type=number]:focus,
[type=string]:focus,
[type=text]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, .8)
}

textarea.hs-form__field__input {
    height: auto;
    max-width: 100%
}

.hs-form__field,
.hs-form__field__label {
    font-size: 14px;
    color: #33475b;
    display: block;
    float: none;
    width: auto;
    font-weight: 500;
    line-height: 20px;
    padding-top: 0
}

.hs-form__field--required:after,
.hs-form__field__label--required:after {
    margin-left: 4px;
    color: #e51520;
    content: "*"
}

.hs-form__field__description {
    color: #537393;
    margin: 0 0 6px;
    font-size: 11px
}

.hs-form__richtext {
    width: 100%;
    margin-bottom: 3px;
    line-height: normal;
    font-size: 14px;
    color: #33475b;
    word-break: break-word
}

.hs-form__richtext:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.hs-form__virality-link {
    margin-top: 30px;
    line-height: 30px;
    font-size: 14px
}

.hs-form__virality-link__sproket {
    width: 30px;
    height: 30px;
    vertical-align: top
}

.hs-form__virality-link__text {
    color: #9fa0a2
}

.hs-form__virality-link__text:after {
    content: "\00a0"
}

.hs-form__virality-link__text__link {
    color: #00a4bd;
    cursor: pointer
}

.hs-form__virality-link__text__link:hover {
    text-decoration: underline
}

.hs-form__field__checkbox__label span {
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px
}

.hs-form__field__checkbox__label span>p {
    display: inline;
    margin: 0
}

.hs-form__legal-consent__row {
    width: 100%
}

.hs-form__legal-consent__row .hs-form__field {
    margin-top: 5px;
    margin-bottom: 0
}

.hs-form__legal-consent .hs-form__richtext {
    line-height: 24px
}

.hs-form__thankyou-message {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.hs-form__cookie-reset {
    font-size: 75%;
    text-align: right
}

.hs-form__pagination-progress-outer {
    position: relative;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #e3e3e3
}

.hs-form__pagination-progress-step {
    position: absolute;
    top: -25px
}

.hs-form__pagination-progress-percentage {
    position: absolute;
    top: -25px;
    right: 0
}

.hs-form__pagination-progress-inner {
    width: 0;
    height: 15px;
    border-radius: 5px;
    background: #598aff
}

.hs-form__pagination-progress-container {
    margin-top: 75px
}

.hs-form__pagination-progress-theme-blocks .hs-form__pagination-progress-inner {
    background-size: 10px !important;
    background-image: linear-gradient(90deg, transparent 70%, #fff 0) !important;
    border-radius: 0
}

.hs-form__pagination-progress-theme-blocks .hs-form__pagination-progress-outer {
    border-radius: 0
}

.hs-form__pagination-progress-theme-minimal .hs-form__pagination-progress-inner,
.hs-form__pagination-progress-theme-minimal .hs-form__pagination-progress-outer {
    height: 7px
}

.hs-form__pagination-progress-theme-minimal .hs-form__pagination-progress-percentage,
.hs-form__pagination-progress-theme-minimal .hs-form__pagination-progress-step {
    display: none
}

.hs-form__pagination-fade {
    opacity: 0
}

.hs-form__pagination-fade-enter-active,
.hs-form__pagination-fade-exit {
    opacity: 1
}

.hs-form__pagination-fade-exit-active {
    opacity: 0
}

.hs-form__pagination-fade-enter-active,
.hs-form__pagination-fade-exit-active {
    transition: opacity .2s
}

.hs-form__pagination-horizontal-next-enter {
    opacity: 0;
    transform: translateX(-10%)
}

.hs-form__pagination-horizontal-next-exit {
    opacity: 1;
    transform: translateX(0)
}

.hs-form__pagination-horizontal-next-exit-active {
    opacity: 0;
    transform: translateX(10%)
}

.hs-form__pagination-horizontal-next-enter-active {
    opacity: 1;
    transform: translateX(0)
}

.hs-form__pagination-horizontal-next-enter-active,
.hs-form__pagination-horizontal-next-exit-active {
    transition: opacity .1s, transform .2s
}

.hs-form__pagination-horizontal-previous-enter {
    opacity: 0;
    transform: translateX(10%)
}

.hs-form__pagination-horizontal-previous-exit {
    opacity: 1;
    transform: translateX(0)
}

.hs-form__pagination-horizontal-previous-exit-active {
    opacity: 0;
    transform: translateX(-10%)
}

.hs-form__pagination-horizontal-previous-enter-active {
    opacity: 1;
    transform: translateX(0)
}

.hs-form__pagination-horizontal-previous-enter-active,
.hs-form__pagination-horizontal-previous-exit-active {
    transition: opacity .1s, transform .2s
}

.hs-form__pagination-vertical-next-enter {
    opacity: 0;
    transform: translateY(-10%)
}

.hs-form__pagination-vertical-next-exit {
    opacity: 1;
    transform: translateY(0)
}

.hs-form__pagination-vertical-next-exit-active {
    opacity: 0;
    transform: translateY(10%)
}

.hs-form__pagination-vertical-next-enter-active {
    opacity: 1;
    transform: translateY(0)
}

.hs-form__pagination-vertical-next-enter-active,
.hs-form__pagination-vertical-next-exit-active {
    transition: opacity .1s, transform .2s
}

.hs-form__pagination-vertical-previous-enter {
    opacity: 0;
    transform: translateY(10%)
}

.hs-form__pagination-vertical-previous-exit {
    opacity: 1;
    transform: translateY(0)
}

.hs-form__pagination-vertical-previous-exit-active {
    opacity: 0;
    transform: translateY(-10%)
}

.hs-form__pagination-vertical-previous-enter-active {
    opacity: 1;
    transform: translateY(0)
}

.hs-form__pagination-vertical-previous-enter-active,
.hs-form__pagination-vertical-previous-exit-active {
    transition: opacity .1s, transform .2s
}

.hs-form_theme-linear .hs-form__field__input {
    border: 0;
    border-radius: 0;
    background: none;
    border-bottom: 2px solid #cad5e2
}

.hs-form_theme-round .hs-form__field__input {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    padding: 10px 15px
}

.hs-form_theme-round .hs-form__field__input[type=checkbox],
.hs-form_theme-round .hs-form__field__input[type=radio] {
    padding: 10px 15px 10px 0
}

.hs-form_theme-round .hs-form__actions__submit {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box
}

.hs-form_theme-sharp .hs-form__actions__submit,
.hs-form_theme-sharp .hs-form__field__input {
    border-radius: 0
}

.hs-form {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-display: swap
}

.hs-form * {
    box-sizing: border-box
}

.hs-form input,
.hs-form select,
.hs-form textarea {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.hs-form__row {
    margin-bottom: 18px
}

.hs-form__row_hidden {
    margin: 0
}

.hs-form__field-row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row
}

@media only screen and (max-device-width:700px) {
    .hs-form__field-row {
        display: block
    }
}

.hs-form__field-row__column {
    align-self: flex-start;
    flex: 1 1 100%;
    padding: 0 10px;
    width: 100%
}

.hs-form__field-row__column_hidden {
    flex: 0 0
}

.hs-form__field__error,
.hs-form__field__input,
.hs-form__field__label {
    margin-bottom: 4px
}

.hs-form__field__label {
    font-weight: 500;
    line-height: 20px
}

.hs-form__field__description {
    margin-bottom: 6px;
    color: #7c98b6
}

.hs-form__field__fieldset {
    border: none;
    padding: 0;
    margin: 0
}

.hs-form__field__input[type=date],
.hs-form__field__input[type=number],
.hs-form__field__input[type=string],
textarea.hs-form__field__input {
    width: 100%
}

.hs-form__field__input--error {
    border-color: #e51520 !important
}

.hs-form__alerts__list {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.hs-form__alerts__list-item {
    font-size: 14px
}

.hs-form__alerts__list-item--error {
    color: #e51520
}

.hs-form__alerts__list-item--info {
    color: #33475b
}

.hs-form__select__container {
    position: relative
}

.hs-form__select__container:after {
    content: "\25be";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    line-height: 45px;
    color: #222f3e;
    z-index: 1
}

.hs-form__select__options__container {
    display: none;
    position: absolute;
    overflow: auto;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #cbd6e2;
    box-shadow: 0 1px 24px 0 rgba(0, 0, 0, .08);
    min-height: 60px;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 100
}

.hs-form__select__options__container__display {
    display: block
}

.hs-form__select__options {
    padding: 0;
    margin: 0
}

.hs-form__select__option {
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px;
    overflow: hidden;
    border-top: 1px solid #eee;
    color: #33475b
}

.hs-form__select__option:first-child {
    border-top: none
}

.hs-form__select__option__highlighted,
.hs-form__select__option__valid:hover {
    background: #e5f5f8
}

.hs-form__select__option__selected {
    background: #54a0ff
}

.hs-form__select__option__no-result {
    cursor: not-allowed;
    color: #b0c1d4
}

.hs-form__field__radio__container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hs-form__field__radio__input {
    margin: 0 0 5px
}

.hs-form__field__radio__label {
    font-weight: 400;
    clear: both
}

.hs-form__field__radio__label-text {
    margin-left: 5px;
    margin-right: 5px
}

.hs-form__field__rating__container .hs-form__field__normal-rating {
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: #eaf0f6;
    border: 1px solid #cbd6e2;
    color: #506e91;
    margin: 8px 4px 10px
}

.hs-form__field__rating__container .hs-form__field__normal-rating__active {
    background-color: #cbd6e2;
    border-color: #7c98b6;
    color: #506e91
}

.hs-form__field__rating__container .hs-form__field__normal-rating__label {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 10px
}

.hs-form__field__rating__container .hs-form__field__normal-rating__not-active:hover {
    background-color: #f5f8fa;
    color: #506e91
}

.hs-form__field__rating__container .hs-form__field__radio__container--image {
    margin-bottom: 0
}

.hs-form__field__rating__container .hs-form__field__image__label__selected img {
    border: 5px solid #54a0ff
}

.hs-form__field__rating__container .hs-form__field__image__label {
    height: 100px
}

.hs-form__field__rating__container .hs-form__field__image__label img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 10px
}

.hs-form__field__rating__container .hs-form__field__image__label img:hover {
    border: 5px solid #54a0ff
}

.hs-form__field__rating__container .hs-form__field__radio__container--image {
    margin: 0 5px;
    width: 100px;
    height: 100px
}

.hs-form__field__rating__container .hs-form__field__radio__input--rating {
    position: absolute;
    opacity: 0;
    bottom: 0
}

.hs-form__field__rating__container .hs-form__field__radio__label--rating {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center
}

.hs-form__field__rating__container .hs-form__field__radio__label--rating--image {
    position: relative
}

.hs-form__field__rating__container .hs-form__field__radio__label--rating--image input[type=radio] {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 5px
}

.hs-form__field__rating__container .hs-form__field__radio__label--rating--image img {
    position: absolute;
    top: 0;
    left: 0
}

.hs-form__field__rating__range {
    display: flex;
    justify-content: space-between;
    color: #93a8c0;
    font-size: 12px;
    padding: 0
}

.hs-form__field__rating__range span:first-child {
    text-align: left
}

.hs-form__field__rating__range span:nth-child(2) {
    text-align: right
}

@media (max-width:768px) {
    .hs-form__field__rating__range--labels {
        display: inline-block
    }
}

.hs-form__field__icon__rating__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.5px;
    margin-right: 2.5px
}

.hs-form__field__icon__rating__label svg {
    display: block;
    cursor: pointer;
    fill: #fff;
    width: 40px;
    height: 32px;
    stroke: #cbd6e2;
    stroke-width: 3px;
    transform: scale(.8);
    transition: transform .2s ease-in-out
}

.hs-form__field__icon__rating__label path {
    transition: fill .2s ease-in-out, stroke .1s ease-in-out
}

.hs-form__field__icon__rating__svg-is-filled {
    transform: scale(.9) !important
}

.hs-form__field__icon__rating__svg-is-filled--star path {
    fill: #f7e31b;
    stroke: #d7c508
}

.hs-form__field__icon__rating__svg-is-filled--heart path {
    fill: #ff4500;
    stroke: #cc3700
}

.hs-form__field__phone {
    display: flex;
    justify-content: space-between;
    flex-direction: row
}

.hs-form__field__phone select {
    margin-right: 5px;
    width: 30%
}

.hs-form__field__options__container {
    padding-top: 6px
}

.hs-form__field__options__container fieldset {
    border: 0;
    padding: 0;
    margin: 0
}

.hs-form__date_input__fragment {
    text-align: center
}

.hs-form__date_input__separator {
    display: inline-block;
    padding: 0 5px
}

.hs-form__date_input__dd,
.hs-form__date_input__mm {
    width: 50px
}

.hs-form__date_input__yyyy {
    width: 70px
}

.hs-form__link:hover {
    text-decoration: underline;
    cursor: pointer
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44.hs-form {
    width: 100%;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 {
    font-family: arial, helvetica, sans-serif;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__field__label {
    font-size: 13px;
    color: #33475b;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__alerts__list-item--error {
    font-size: 13px;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__legal-consent .hs-form__richtext,
.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__legal-consent .hs-form__field__label {
    font-size: 14px;
    color: #33475b;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__field__input::placeholder {}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__field__description {
    font-size: 11px;
    color: #7C98B6;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__actions__submit,
.hs-form__actions__next {
    background: #ff7a59;
    border-color: #ff7a59;
    color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    line-height: 12px;
    font-size: 12px;



}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__actions__previous {
    border-color: #ff7a59;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;



    color: #ff7a59;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__actions {
    text-align: left;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__pagination-progress-inner {
    background: #598aff;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 .hs-form__pagination-progress-container {
    color: #33475b;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44.hs-form__thankyou-message {
    font-size: 16px;
    color: #33475b;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 a:link,
a:active {
    color: #0000EE;
}

.hs-form-58aa731e-a644-43b3-9389-c9e2cfe99b44 a:visited,
a:hover {
    color: #551A8B;
}



html.hs-messages-widget-open.hs-messages-mobile,
html.hs-messages-widget-open.hs-messages-mobile body {
    overflow: hidden !important;
    position: relative !important
}

html.hs-messages-widget-open.hs-messages-mobile body {
    height: 100% !important;
    margin: 0 !important
}

#hubspot-messages-iframe-container {
    display: initial !important;
    z-index: 2147483647;
    position: fixed !important;
    bottom: 0 !important
}

#hubspot-messages-iframe-container.widget-align-left {
    left: 0 !important
}

#hubspot-messages-iframe-container.widget-align-right {
    right: 0 !important
}

#hubspot-messages-iframe-container.internal {
    z-index: 1016
}

#hubspot-messages-iframe-container.internal iframe {
    min-width: 108px
}

#hubspot-messages-iframe-container .hs-shadow-container {
    display: initial !important;
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    content: ""
}

#hubspot-messages-iframe-container .hs-shadow-container.internal {
    display: none !important
}

#hubspot-messages-iframe-container .hs-shadow-container.active {
    width: 400px;
    height: 400px
}

#hubspot-messages-iframe-container iframe {
    display: initial !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    background: transparent !important
}






/* added css */
.container{
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;

}
.container.loaded {
    background: #fff;
    box-shadow:0 4px 8px 0 rgba(53,105,128,.3), 0 6px 20px 0 rgba(165,200,213,.41);
}
.container .error .container .loaded{
    display: block;
}
body{
    margin: 0;
    background: #f4f8fa;
}
#form-target{
    padding: 40px;
}
